*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background: #333;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 9%;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  } 
  .header a{
    color: #04A777;
    margin-left: 0%;
    font-weight: bolder;
    font-size: 1.7rem;
    font-family: 'Poppins', sans-serif;
  }
  .header .navbar {
    margin-left: 50rem;
    font-size: 1.7rem;

  }
  .header .navbar a {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #04A777;
  }
  .header .logo i {
    color: #04A777;
  }
  .header .navbar a {
    margin-left: 2rem;
    font-size: 1.4rem;
    font-weight: bolder;
    }
    .header .icons a,
  .header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: #10221b;
  }

h1 {
    font-size: 40px;
    margin-top: 20px;
    color: #04A777;
    text-align: center;
}

.teams-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow: 1 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.card .bg-image img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0% 70%);

}

.card .pic img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #222;
    margin-top: -80px;
    position: relative;
}

.card .info h3 {
    color: #f0f0f0;
    font-size: 20px;
    padding: 10px 0;

}

.card .info span {
    font-size: 15px;
    color: #04A777;

}

.card .info p{
    font-size: 13px;
    padding: 10px 20px;
    color: #999;
}

.card .info .icons a {
    font-size: 20px;
    text-decoration: none;
    color: #04A777;
    margin-top: 20px;
    padding: 0 5px;
}