@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,100;1,300;1,400;1,500&display=swap');
*{
    font-family: 'Poppins',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
:root{
    --green: #219150;
    --black:#10221b;
    --white:#fff;
    --light-bg:#eee;
    --border:.2rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit);
    gap:1.5rem;

}
html::-webkit-scrollbar-track::-webkit-scrollbar-thumb{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}
.header{
    position: fixed;
    top: 0%;left: 0%; right: 0%;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center; 
}
.logo{
    margin-right: auto;
    font-size: 2.5rem;
    color: black;
    font-weight: bolder;
}
i{
    color: green;
}
.navbar {

    a
}